extends layout

block content
    h1 create a new room
    form(method="post", action="/create")
        input(name="name", type="text", placeholder="name of your room")
        input(name="description", type="text", placeholder="optional description")
        input(name="amount",type="number",placeholder="amount of items")
        button(type="submit", value="create new room") create new room
