extends layout

block content
  .row.align-items-center.h-100
    .mx-auto
      h1.display-4 Welcome to Mystery Seller
      .row.align-items-center.h-100
        .mx-auto
          p.lead A game where friends tries to sell an mystery item
  hr
  .row.align-items-center.h-100
    .mx-auto
      form.form(method="post", action='/room')
        .form-group
          label(for='roomcode') Room code
          input#roomCode.form-control(name='roomCode', type='text', placeholder="Enter room code")
        .form-group
          label(for='name') Name
          input#name.form-control(name='name', type='text', placeholder="enter your name")
        .row
          .mx-auto
            button.btn.btn-primary(type='submit') Play

